body{
  margin: 1.3em;
  background-color: bisque;
}

.list{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.todoForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}